/*body {*/
/*    font-family: "Helvetica", "Arial", "sans-serif";*/
/*    background-color: white;*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

/*#centeredContent {*/
/*    margin: 0 auto;*/
/*    padding: 20px;*/
/*    width: 960px; !* 960px; *!*/
/*    background-color: white;*/
/*}*/

/*.errorMessage {*/
/*    font-weight: bold;*/
/*    background-color: yellow;*/
/*    color: red;*/
/*}*/

/*input {*/
/*    display: block;*/
/*    float: right;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.signup-form {*/
/*    margin: 0 auto;*/
/*    width: 600px;*/
/*    padding: 30px;*/
/*    border: 1px solid black;*/
/*}*/

/*.row {*/
/*    margin-bottom: 30px;*/
/*}*/

/*.btn {*/
/*    width: 200px;*/
/*    display: block;*/
/*    float: left;*/
/*    margin-left: 200px;*/
/*}*/

h3 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

/*==========================*/
* {
    box-sizing: border-box;
}
html {
    min-height: 100%;
    height: 100%;
    /*background-image: url("Gray-Pixel-Pattern.png");*/
    background-repeat: repeat;
}
body {
    /*background-color: gray;*/
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}
h2 {
    clear: both;
}

.centeredContent {
    margin: 0 auto;
    padding: 0px;
    width: 960px; /* 960px; */
    background-color: white;
    overflow: auto;
    height: inherit;
    position: relative;
    text-align: center;
}
/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: #333;
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.banner{
    font-size: 20px;
    color:#FFFFFF;
}

.centeredVertically {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.errorMessage {
    font-weight: bold;
    background-color: yellow;
    color: red;
}

input[type=text], input[type=email], input[type=password], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    display: block;
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    width: 700px;
    text-align: left;
    border: 1px solid #ccc;
    box-shadow: 10px 10px 5px grey;
    margin: auto;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 30px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 30px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
.row a{
    display: inline-block;
    float: right;
    margin: 30px 0;
}
#login {
    display: block;
    float: right;
    margin: 20px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

