{% extends "master.html.twig" %}

{% block content %}
	<div id="centeredContent">
		<table style="width:100%">
			<tr>
				<th>Item description</th>
				<th>Image</th>
				<th>Sellers name</th>
				<th>last bid price</th>
				<th>make a bid</th>
			</tr>
			{% for row in results %}
				<tr>
					<td>{{row.itemDescription}}</td>
					<td><img src="{{ row.itemImagePath }}" width="150"></td>
					<td>{{row.sellersName}}</td>
					<td>{{row.lastBidPrice}}</td>
					<td>
						<a href="/placebid/{{row.id}}">make a bid</a>
					</td>

				</tr>
			{% endfor %}

		</table>
	</div>

{% endblock content %}
