<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="styles.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>
			{% block title %}{% endblock %}
			Day04SlimAuctions</title>
		{% block head %}{% endblock %}
	</head>
	<body>
		<div id="centeredContent">
			{% if flashMessage %}
				<div class="flashMessage">{{flashMessage}}</div>
			{% endif %}
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
				&copy; Copyright 2011 by
				<a href="http://domain.invalid/">you</a>.
			{% endblock %}
		</div>
	</body>
</html>
