{% extends "master.html.twig" %}

{% block content %}

{% if errorList %}
	<ul>
		{% for error in errorList %}
			<li>{{ error }}</li>
		{% endfor %}
	</ul>
{% endif %}

<form method="post" enctype="multipart/form-data">
	Item description
<textarea name="description" cols="60" rows="10">{{ v.description }}</textarea><br>
	Sellers name:
<input type="text" name="sname" value="{{ v.sName }}"><br>
	Sellers email:
<input type="email" id="email" name="email" value="{{ v.email }}"><br>
	Initial bid price:
<input type="number" name="bidprice" value="" step=".01"><br>

Photo (optional):
<input type="file" name="photo"/><br>
	<input type="submit" name="submit" value="Add auction">
</form>

{% endblock content %}