body {
    font-family: "Helvetica", "Arial", "sans-serif";
    background-color: white;
    margin: 0;
    padding: 0;
}

#centeredContent {
    margin: 0 auto;
    padding: 20px;
    width: 960px; /* 960px; */
    background-color: white;
}

table, th, td {
  border: 1px solid black;
}

/*.errorMessage {*/
/*    font-weight: bold;*/
/*    background-color: yellow;*/
/*    color: red;*/
/*}*/

/*input {*/
/*    display: block;*/
/*    float: right;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.signup-form {*/
/*    margin: 0 auto;*/
/*    width: 600px;*/
/*    padding: 30px;*/
/*    border: 1px solid black;*/
/*}*/

/*.row {*/
/*    margin-bottom: 30px;*/
/*}*/

/*.btn {*/
/*    width: 200px;*/
/*    display: block;*/
/*    float: left;*/
/*    margin-left: 200px;*/
/*}*/

/*h3 {*/
/*    text-align: center;*/
/*    margin-top: 100px;*/
/*    margin-bottom: 20px;*/
/*}*/